

body {
	font font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	color:  ;
	line-height: 1.3;
	background: images/city.jpg
	
}


h1 {
	color: ffffff;


}

a {
	color: ffffff;
	text-decoration: none;


}


}
