

body {
	font font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	color: ffffff;
	line-height: 1.3;
	background: url (images/city.jpg);
	background-size: cover;
	
}


h1 {
	color: ffffff;


}

#slogan {
	font-style: italic;
}

a {
	color: ffffff;
	text-decoration: none;


}


}
