

.hero {
	background: ("images/beach.jpg") no-repeat center center;
	background-size: cover;

}


body {
	background-image: url("images/beach.jpg");
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	font-family: Tahoma, Helvetica, sans-serif; 
	font-size: 20px;
	color: #52042B;
	line-height: 1.3;
	text-align: center;
	
}

image {
	color: 000000;


}


h1 {
	color: #52042B;


}

#slogan {
	font-style: italic;
	font-size: 20 px
}

a {
	color: ffffff;
	text-decoration: none;


}


}
